.left-text {
  text-align: left;
}

.coll-3 {
  position: relative;
  float: left;
  width: 22%;
  border-right: 2px solid #ccc;
}

.coll-3:last-child {
  border:none;
}

.numiric > li {
  list-style-type: decimal-leading-zero !important;
}

.numiric > li > ul {
  padding: 0 0 0 15px;
}
